{% include 'admin/inc/header.twig' %}
<div class="page-wrapper">
    {% include 'admin/inc/navigation.twig' %}
    {% include 'admin/inc/sidebar.twig' %}

    <div class="page-container">

        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">

                        <div class="header-button">

                            <div class="account-wrap">
                                <div class="account-item clearfix ">
                                    <a href="{{ path_for('auth.signout') }}">Çıxış</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    {% block admincontent %} {% endblock %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2016 - {{ "now"|date("Y") }} {{ 'MƏNZİL kiçik müəssisəsi.' }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% include 'admin/inc/footer.twig' %}
