{% extends 'index.twig' %}
{% block pagetitle %} 404{% endblock %}
{% block content %}
    <div id="Wrapper">
        <div id="Content">
            <div class="container border-line-yellow">
                <div class="the_content the_content_wrapper">
                    <h3>404-cü səhifə</h3>
                    <p>Saytda belə bir səhifə mövcüd deyil və ya silinmişdir.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}