<!DOCTYPE html>
<html lang="az">
{% include 'include/head.twig' %}

    <body class="home page page-id-12 page-template-default template-slider  layout-boxed">
        <div id="Top_area">
            {% include 'include/topbar.twig' %}
            {% include 'include/navbar.twig' %}
        </div>
        <div id="Subheader">
            <div class="container header-background">
                <div class="sixteen columns">
                    <h1 class="title">{% block pagetitle %}{% endblock %}</h1>
                </div>
            </div>
        </div>
        <div id="Breadcrumbs">
            <div class="container">
                <div class="sixteen columns">
                    <ul class="breadcrumbs">
                        <li>✆</li>
                        <li><a href="tel:050 2118365">050 2118365</a></li>
                        <li>və</li>
                        <li><a href="tel:012 5611437">012 5611437</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        {% include 'include/footer.twig' %}
    </body>
</html>