{% extends 'index.twig' %}
{% block pagetitle %} Xoş gəlibsiniz{% endblock %}
{% block content %}
    <div id="Wrapper">
        <div id="Content">
            <div class="container border-line-yellow">
                <div class="the_content the_content_wrapper">
                    <h3>{{ data.pagetitle }}</h3>
                    {{ data.pagetext|raw}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}